<!--The content below is only a placeholder and can be replaced.-->
<mat-drawer-container class="drawer-container" autosize>
  <mat-drawer mode="side" [opened]="sidenavOpened">
    <mat-nav-list *ngIf="token">
      <a
        *ngFor="let item of items"
        mat-list-item
        (click)="sidenavOpened = false"
        [routerLink]="[item.route]"
        routerLinkActive="list-item-active"
      >
        <mat-icon matListIcon> {{ item.icon }} </mat-icon>&nbsp;
        {{ item.text }}
      </a>
      <a
        *ngIf="token"
        mat-list-item
        (click)="sidenavOpened = false; onLogout()"
      >
        <mat-icon matListIcon> exit_to_app </mat-icon>&nbsp; Logout
      </a>
    </mat-nav-list>
    <mat-nav-list *ngIf="!token">
      <a
        *ngIf="!token"
        mat-list-item
        routerLink="/login"
        (click)="sidenavOpened = false"
      >
        <mat-icon matListIcon> lock </mat-icon>&nbsp; Login
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-toolbar (toggleSidenav)="sidenavOpened = !sidenavOpened"></app-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
