<div fxLayout="row" fxLayoutAlign="center">
  <div fxFlex="50">
    <mat-card>
      <mat-card-header>
        <h1 class="text-center">New User</h1>
      </mat-card-header>

      <mat-card-content>
        <p class="text-center color-red" *ngIf="error">{{ error }}</p>
        <div fxLayout="row">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="First Name" [(ngModel)]="firstname" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Last Name" [(ngModel)]="lastname" />
          </mat-form-field>
        </div>
        <div fxLayout="row">
          <mat-form-field>
            <mat-label>Device</mat-label>
            <select
              matNativeControl
              class="full-width-input"
              [(ngModel)]="selectedDevice"
            >
              <option *ngFor="let device of devices" [value]="device._id">{{
                device.name
              }}</option>
            </select>
          </mat-form-field>
        </div>
        <button
          mat-button
          mat-raised-button
          [disabled]="loading"
          color="primary"
          (click)="saveUser()"
        >
          <span>
            <mat-spinner
              *ngIf="loading"
              color="primary"
              [diameter]="37"
            ></mat-spinner>
            <span *ngIf="!loading">Save</span>
          </span>
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
